.img-m {
  margin-bottom: 20px;
}
.wrap {
  padding: 10px 15px;
}
.timing {
  font-size: 30px;
  font-weight: 600;
}
.text-opening {
  text-align: center;
}

.time {
  font-size: 20px;
}
.text-left {
  text-align: left !important;
}
